@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    line-height: -0.75rem;
}

.navbar {
    width: 100%;
    height: auto;
    padding: 0rem 2rem;
    background-color: #ecfce5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container,
.aboutimage,
.teamimage {
    width: fit-content;
    height: auto;
}

.logo-container img {
    width: 150px;
    height: 150px;
}

.menu-links {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    padding: 1rem;
}

.menu-and-icon {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.6rem;
}

.menu-links ul li a,
i {
    text-decoration: none;
    color: #011800;
}

.menu-links ul li a:hover,
i:hover {
    color: red;
    transition: 0.5s ease;
}

.menu-links ul li a.active,
i.active {
    color: red;
    transition: 0.5s ease;
}

.dropdownmenu-container{
  width: 18vw;
  height: auto;
  background-color: #b0ee9a;
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.8rem;
  border-radius: 0.4rem; 
  top: 1.8rem;
}

.dropdown-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.6rem;
}

.menu-and-icon:hover .dropdownmenu-container {
  display: block;
}

.findfood-container{
  width: 100%;
  height: auto;
  padding-bottom: 0.9rem;
  background-color: #b0ee9a;
  border-bottom: 1px solid #1d3812;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}
.findfood-container2{
  width: 100%;
  height: auto;
  padding-top: 0.4rem;
  background-color: #b0ee9a;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}
.icon-container{
  width: fit-content;
  height: auto;
}
a{
  text-decoration: none;
  color: #011800;
}
.icon i {
  font-size: 1.4rem;
  color: #011800;
}
.donatefoodmenu a:hover, i:hover {
  color: red;
  transition: 0.5s ease;
}
.donatefoodmenu a:active, i.active {
  color: red;
  transition: 0.5s ease;
}

.signup-container{
    width: 22%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.8rem;
}

.signup-btn {
    width: fit-content;
    height: auto;
}

.signup-btn1 button {
    width: 100%;
    height: auto;
    padding: 0.8rem 1rem;
    background-color: #011800;
    color: #FAFFD1;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.signup-btn2 button {
    width: 100%;
    height: auto;
    padding: 0.8rem 1rem;
    background-color: #fffb0309;
    color: #011800;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid #011800;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.signup-btn1 button:hover,
.signup-btn2 button:hover {
    background-color: #fffb25;
    color: #011800;
    transition: 0.3s ease;
    font-size: 1.4rem;
    outline: none;
    border: none;
}

.mobileview-navbar {
    display: none;
}

/* .sidebar{
  display: none;
} */


/* MAIN */
#hunger1 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(/image/lagos\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hunger1 h1 {
    color: white;
    font-size: 6.25rem;
    padding-top: 16rem;
}
.stats{
    width: 100%;
    height: auto;
    background-color: #ecfce5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* row-gap: 2rem; */
}

.statistic-heading{
    width: 100%;
    height: auto;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0.8rem;
}
.stats-heading-title, .stats-paragraph-text, .T2-text1, .stat-number, .start-descript, .T2-text1, .T2-text2, .ourstory-heading{
    width: fit-content;
    height: auto;
}
.stats-heading-title h2{
    width: 95%;
    font-size: 3.4rem;
    text-align: center;
    line-height: 3.5rem;
    color: #011800;
    padding-left: 2rem;
}
.stats-paragraph-text p{
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #011800;
    padding-left: 4rem;
}
.statText{
    width: 100%;
    height: auto;
    padding: 6.4rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
    background-color: #FAFFD1;
}
.T2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
}
.T2-text1 p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #011800;
}
.T1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
}
.T11{
    width: 100%;
    height: auto;
    padding-left: 7rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-number h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #a31402;
    /* text-align: center; */
}
.start-descript p{
    width: 88%;
    font-size: 1rem;
    font-weight: 500;
    color: #011800;
    text-align: center;
}

.statText2{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #fffefe;
    column-gap: 0.4rem;
}
.T2-text2 p{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 80%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #011800;
}

.statText33{
    width: 100%;
    height: auto;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.5rem;
    background-color: #fdffec;
}
.ourstory-heading h2{
    font-size: 2.4rem;
    color: #011800;
}
.statText3 p{
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #011800;
    line-height: 2.3rem;
}

.T1 span{
    font-size: 50px;
}

/* footer */
.footer {
    width: 100%;
    height: auto;
    padding: 2rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #008000;
    color: #ecfce5;
}

.footer-top {
    width: 100%;
    height: auto;
    padding: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9b9b9b;
}

.footer-mid,
.footer-bottom {
    width: 100%;
    height: auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foothead {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.quicklinks {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.2rem;
}

.footercontact {
    width: 20%;
    height: auto;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.2rem;
}

.footerlinks ul,
.socialsdiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.2rem;
    list-style: none;
}

.socials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

.socials-icon {
    width: 100%;
    height: auto;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    font-size: 2rem;
    background-color: #fffb25;
    color: #011800;
    border-radius: 50%;
}

.icon-and-socials,
.icon-and-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.socialicon i,
.icon i {
    font-size: 1.4rem;
    color: #FAFFD1;
}

.social-name p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #FAFFD1;
}

.footerInfo h4,
.contact-title h4,
.footer-text h4 {
    color: #FAFFD1;
    font-weight: 600;
}

.footerInfo ul li a,
.contact-text p,
.links li a {
    text-decoration: none;
    color: #FAFFD1;
    font-weight: 500;
    font-size: 1.2rem;
}

.socials ul {
    width: 100%;
    height: auto;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.copyright {
    text-align: center;
}

.copyright p {
    font-size: 1.4rem;
}
