*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0, 0, 0.1);
}
nav img{
   width: 5%;
   height: 5%;
}
nav .list-content{
    display: flex; 
    align-items: center;
    list-style: none;   
    padding-right: 4%;
    
}
nav .list-content li{
    margin-left: 4%;
    font-weight: 600;
}
 .list-content li a{
    text-decoration: none;
    color: #008000;
    transition: background-color 0.3s ease;
}
 .list-content li a:hover{
    color: #ffff00;
    
}

 /* **************************************************MAIN **************************************** */
 
 .hero{
    width: 100%;
    height: 70vh;
    background-image:url(image/charityBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    line-height: 1.6; 
 }
 h1{
    font-size: 50px;
 }
 h2{
    font-size: 16px;
 }
 h3{
    color: #008000;
    font-weight: 600;
 }
 p{
    font-size: 18px;
 }
 .buttonDiv{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
button{
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius:50px;
  background-color: #008000;
  color: white;
}
.findFoodButton{
    background-color: #ffff00;
    margin-left: 2%;
}
.donateButton:hover{
 color: #ffff00;
}
.findFoodButton:hover{
    color: #008000;
}
.mission, .howItWorks{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    text-align: center;
}
.mission p{
    padding:1%;
}