*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
  background-color: whitesmoke;
}
.mobileview-navbar{
  display: none;
}
nav{
  width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
    
}
nav img{
   width: 5%;
   height: 5%;
}
nav .list-content{
    display: flex; 
    align-items: center;
    list-style: none;   
    padding-right: 4%;
    
}
nav .list-content li{
    margin-left: 4%;
    font-weight: 600;
}
 .list-content li a{
    text-decoration: none;
    color: #008000;
    transition: background-color 0.3s ease;
}
 .list-content li a:hover{
    color: #ffff00;
    
}
.sidebar{
  display: none;
}

 /* **************************************************MAIN **************************************** */
 
 .hero{
    width: 100%;
    height: 70vh;
    background-image:url(image/charityBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    line-height: 1.6; 
 }
 h1{
    font-size: 50px;
 }
 h2{
    font-size: 16px;
 }
 h3{
    color: #008000;
    font-weight: 600;
    font-size: 30px;
 }
 h4 {
  color:  #ffff00;
  font-size: 20px;
}
 p{
    font-size: 18px;
 }
 .buttonDiv{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
button{
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius:50px;
  background-color: #008000;
  color: white;
}
.findFoodButton{
    background-color: #ffff00;
    margin-left: 2%;
}
.donateButton:hover{
 color: #ffff00;
}
.findFoodButton:hover{
    color: #008000;
}
.mission, .how-it-works, .available-food, .ourpartnersection{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    text-align: center;  
}
.mission p{
    padding:1%;
}
  .howItWorks-div, .partner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }

  .howItWorks-children {
    width: 32%;
      padding: 20px;   
  }
  
  .howItWorks-children:hover {
    transform: translateY(-10px);
  }
   h4 {
    color:  #ffff00;
    font-size: 20px;
  }
  .howItWorks-children img {
    width: 100%;
    margin-top: 15px;
  } 
  .howItWorks-children p {
    font-size: 16px;
    margin-top: 15px;
  }
  

.availablefood-div {
  width: 100%;
  overflow: hidden; 
  padding: 15px 0;
  position: relative;
  margin-top: 20px;
}


.foodItems-div { 
  display: flex;
  gap: 30px; 
  animation: marquee 20s linear infinite; 
}

/* Food Item Styling */
.food-item {
  width: 20%; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-shrink: 0;
 padding: 10px 0px 10px 0px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0, 0, 0.1);
}

.food-item img {
  width: 80%; 
  margin-top: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.food-item h4  {
  margin-top: 10px;
}

.food-item img:hover {
  transform: scale(1.1); 
}
.food-item button{
  width: 35%;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
 
}
.food-item p {
  margin-top: 10px;
}
/* .team{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.team-grid{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  padding:30px 30px 20px 30px;
}
.team-grid img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.team-grid img:hover {
  transform: translateY(-10px);
} */
.newsletter{
  background-color: #008000;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 40px 0;
  margin-top: 20px;
}
.newsletter form{
  width: 50%;
}
.newsletter h2{
  font-size: 30px;
  font-weight: 600;
}
.newsletter input{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding: 10px;
}
.newsletter button{
  width: 100%;
  height: 50px;
  background-color: white;
  color: #008000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}
.community{
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
  margin-top: 40px;
}

.communityImpact{
 display: flex;
 flex-direction: column;
 text-align: center;
 padding-top: 50px;
}
.communityImpactDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px; 
}
.communityImpact h2{ 
  font-size: 30px;
}
.communityImpactDiv h3{ 
  font-size: 50px;
}
.communityImpactDiv p{
  margin-top: 10px; 
  font-size: 20px;
}
.testimonial{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
 }
 .testimonialContainer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 40px; 
 }
 .testimonialCards{
  width: 40%;
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px rgba(0,0, 0, 0.1);
  padding: 20px;
 }
 .testimonial h2{ 
   font-size: 20px;
 }
 .testimonialCards h4{ 
   font-size: 15px;
   color: #008000;
   margin-top: 10px;
 }
 .communityImpactDiv p{
   margin-top: 10px; 
   font-size: 20px;
 }
 /* Donate and request*/
 .video-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  padding-top: 80px;
  
 }
 .video-background{
 position: absolute;
 min-width: 100%;
 }
 .form-div{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .form{
  min-width: 50%;
  background-color:black;
  opacity: 70%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .form input, select{
 width: 70%;
 height: 40px;
 padding: 10px;
 margin-top: 10px;
 border: none;
 outline: none;
 border-radius: 5px;
 font-size: 20px;
 }
 .form textarea{
  width: 70%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  padding: 10px;
 }
 .form button{
  width: 70%;
  margin-top: 10px;
  border-radius: 5px;
 }
 
 /* ****************************************************SERVICES**************************************** */
 .services-header{
  width: 100%;
  height: 100vh;
  color: #008000;
  background-image:url(image/donate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

/* scrolling animation */
@keyframes marquee {
  from {
    transform: translateX(0); /* Start position */
  }
  to {
    transform: translateX(-50%); /* Scroll left */
  }
}

/* Pause Scrolling on Hover */
.availablefood-div:hover .foodItems-div {
  animation-play-state: paused;
}

/************************************************FOOTER ************************************************ */
footer{
  background-color: #008000;
  color: white;
  padding: 20px 40px 20px 40px;
}
.footerInfo{
  display: flex;
  justify-content: space-evenly;
}
.footerInfo h4{
  color: white;
  font-weight: 600;
  margin-top: 40px;
}
.footerInfo ul{
  list-style: none;
  margin-top: 5px;
}
.footerInfo ul li{
  padding-top: 5px;
}
.footerInfo ul li a{
  text-decoration: none;
  color: white;
  font: 600;
  font-size: 15px;
}
.footerInfo p{
  color: white;
  font: 600;
  margin-top: 10px;
  font-size: 15px;
}
.copyright{
  text-align: center;
  margin-top: 20px;
}
.copyright p{
  font-size: 15px;
}

/* Media Query */
@media screen and (max-width:640px){
  .mobileview-navbar{
    display: block;
  }
  .webview-navbar{
    display: none;
  }
  nav .list-content{
    display: none;
  }
  h1{
    font-size: 30px;
    color: #008000;
    text-align: center;
 }
 h2{
  
  text-align: center;
}
 nav{
  justify-content: space-around;
 }
 .menu-btn{
  display: block;
  
}
    .sidebar{
        display: block;
        width: 80%;
        height: 100vh;
        background-color: white;
        box-shadow: 0px 0px 0px 5px rgba(0, 0 , 0, 0.1);
       padding: 40px;
       color: gray;
       font-size: 20px;
       position: fixed;
       top: 0;
       left: -80%;
       z-index:1000;  
       transition: left 0.35s ease;
     }
     .sideBarMenu {
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
    }
     .sidebar.active{
        left:0;
     }
     .buttonDiv{
      width: 60%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      
   }
     button{
      width: 60%;
    }
    .howItWorks-children {
      width: 64%;
        padding: 20px;   
    }
    .food-item {
      width: 40%; 
    }
    .food-item img {
      width: 100%; 
    }
    .food-item button{
      width: 60%;  
    }
    .newsletter{
     
      display: flex;
     flex-direction: column;
     justify-content: center;
      align-items: center;
    }
    .newsletter form{
      margin-top: 20px;
    }
    .newsletter h2{
      font-size: 20px;
    }
    .newsletter p{
      font-size: 15px;
      text-align: center;
      margin-top: 2px;
    }
    .partner{
      display: flex;
      flex-direction: column;
    }
    .communityImpactDiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .testimonialContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .testimonialCards{
      width: 80%;   
     }
     .footerInfo{
      display: flex;
      flex-direction: column;
    }
    
    
}

@media screen and (max-width:768px){
  
   
}
